.coding-container {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/codingbg.png");
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.coding-card {
    background-color: transparent;
    border: 5px solid #48ee59;
    padding: 32px 18px;
    width: 340px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 260px;
}

.coding-heading {
    color: #fff;
    font-family: 'Bree Serif', serif;
    font-size: 34px;
    text-align: center;
    margin: 0;
    font-weight: 700;
    line-height: 1.15;
}